@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html, body {
    background-color: #21232A;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    padding: 70px;
}

button {
    padding: 5px;
    font-size: 1.3rem;
    margin-right: 5px;
}